<!-- <div class="login"> -->
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <!-- <form class="custom-form" method="post">
      <h1>Destinatario</h1>

      <input
        type="text"
        [(ngModel)]="rut"
        name="rut"
        placeholder="Rut"
        required="required"
      />

      <input
        type="text"
        [(ngModel)]="nombre"
        name="nombre"
        placeholder="Nombre"
        required="required"
      />

      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required="required"
      />

      <input
        type="text"
        [(ngModel)]="telefono"
        name="telefono"
        placeholder="Telefono"
        required="required"
      /> -->

      <!-- <input
        type="text"

        name="cuenta"
        placeholder="Cuenta"
        required="required"
      /> -->


      <div>
        <label for="rut">
          Rut
        </label>
        <input id="rut" type="text" formControlName="rut">
      </div>
    
      <div>
        <label for="nombre">
          Nombre
        </label>
        <input id="nombre" type="text" formControlName="nombre">
      </div>

      <div>
        <label for="email">
          Email
        </label>
        <input id="email" type="email" formControlName="email">
      </div>

      <div>
        <label for="telefono">
          Telefono
        </label>
        <input id="telefono" type="text" formControlName="telefono">
      </div>

      <!-- <select class="form-select" [(ngModel)]="selected">
        <option *ngFor="let n of bancos">{{ n }}</option>
      </select>
      {{ selected }} -->

      <!-- <select [(ngModel)]="opcionSeleccionado" (change)="capturar()">
        <option value="Santander">Selecciona una Cuenta</option>
        <option *ngFor="let banco of bancos">
          {{banco}}
        </option>
      </select> -->

    

      <!-- <input
        type="text"

        name="banco"
        placeholder="Banco Destino"
        required="required"
      /> -->

      <!-- <select placeholder="Banco">
        <option value="one">Santander</option>
        <option value="2">Itau</option>
        <option value="3">BCI</option>
        <option value="4">Banco Estado</option>
      </select> -->

      <!-- <select [(ngModel)]="opcionSeleccionado" (change)="capturar()">
        <option *ngFor="let banco of datos">{{banco}}</option> -->
        <!-- <option value="2">Itau</option>
        <option value="3">BCI</option>
        <option value="4">Banco Estado</option> 
      </select> -->
      <!-- <p [hidden]="opcionSeleccionado == 'Santander'">Haz seleccionado la opción # {{ verSeleccion }}</p> -->
      <!-- <button type="submit" >Registrar</button>
    </form> -->
    <button class="button" type="submit">Purchase</button>
  </form>
    <!-- Prueba para ver la opción seleccionado -->
<!-- <p [hidden]="opcionSeleccionado == 'Santander'">Haz seleccionado la opción # {{ verSeleccion }}</p> -->
  <!-- </div> -->

