<nav>
  <ul class="menu-horizontal">
    <li><a href="/transferencia">Transferencia</a></li>
    <li>
      <a href="#">Login</a>
    </li>

  </ul>
</nav>




    <form class="custom-form" method="post">
      <h1>Destinatario</h1>

      <input
        type="text"
        [(ngModel)]="data.rut"
        name="rut"
        placeholder="Rut"
        required="required"
      />

      <input
        type="text"
        [(ngModel)]="data.nombre"
        name="nombre"
        placeholder="Nombre"
        required="required"
      />

      <input
        type="email"
        [(ngModel)]="data.email"
        name="email"
        placeholder="Email"
        required="required"
      />

      <input
        type="text"
        [(ngModel)]="data.telefono"
        name="telefono"
        placeholder="Telefono"
        required="required"
      />

      <select id="inputState" class="form-control" [(ngModel)]="data.cuenta" name="cuent">
        <option value="" selected>Seleccione....</option>
        <option *ngFor="let option of cuentas" [value]="option.cuenta">{{ option.cuenta }}</option>
      </select> 

      <select id="inputState" class="form-control" [(ngModel)]="data.bancodestino" name="bank">
        <option value="" selected>Seleccione...</option>
        <option *ngFor="let option of bancos" [value]="option.banco">{{ option.banco }}</option>
      </select>

      <button type="submit" (click)="destinatario()">Registrar</button>
    </form> 

