<nav>
    <ul class="menu-horizontal">
      <li><a href="/destinatario">Destinatario</a></li>
      <li>
        <a href="#">Login</a>
      </li>
    </ul>
  </nav>




<div class="container text-center">
    <h1>Transferencia</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
      </div>


      <table class="table table-striped">
        <thead>
        <tr>
          <th>Rut</th>&nbsp;
          <th>Nombre</th>
          <th>Email</th>
          <th>Telefono</th>&nbsp;
          <th>Cuenta</th>&nbsp;
          <th>Banco</th>
        </tr>
        </thead>

        <tbody>    
        <tr *ngFor="let data of items | filter:searchText">

          <td>{{data.rut}}</td> &nbsp;
          <td>{{data.nombre}}</td>
          <td>{{data.email}}</td>
          <td>{{data.telefono}}</td>&nbsp;
          <td>{{data.cuenta}}</td>&nbsp;
          <td>{{data.bancodestino}}</td>

        
   
        </tr>
      
        </tbody>
      </table>

    
    </div>
  </div>
